<ul>
  <% registrations.each do |registration| %>
    <% unless registration.id.nil? %>
      <li>
        <div class="left">
          <%= registration.user.name %>さん
          <%= registration.start_datetime.strftime('%m月%d日 %H:%M') %>～
          <%= registration.end_datetime.strftime('%m月%d日 %H:%M') %>
        </div>
        <% if current_user.id == registration.user.id %>
          <div class="right">
            <%= link_to '', event_registration_path(event, registration), class: "fa fa-trash-o fa-lg", method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' } %>
          </div>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
